USE [master]
GO
/****** Object:  Database [Checkpoint4Churches]    Script Date: 2018-12-21 10:26:07 ******/
CREATE DATABASE [Checkpoint4Churches]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Checkpoint4Churches', FILENAME = N'C:\Users\Administrator\Checkpoint4Churches.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Checkpoint4Churches_log', FILENAME = N'C:\Users\Administrator\Checkpoint4Churches_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Checkpoint4Churches].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Checkpoint4Churches]
GO
USE [Checkpoint4Churches]
GO
/****** Object:  Table [dbo].[Churches]    Script Date: 2018-12-21 10:26:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Churches](
	[ChuchId] [int] IDENTITY(1,1) NOT NULL,
	[Church] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Churches] PRIMARY KEY CLUSTERED 
(
	[ChuchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChurchInfo]    Script Date: 2018-12-21 10:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChurchInfo](
	[ChurchId] [int] NOT NULL,
	[CityId] [int] NOT NULL,
	[Year] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 2018-12-21 10:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[CityId] [int] IDENTITY(1,1) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 2018-12-21 10:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[FirstName] [nvarchar](50) NOT NULL,
	[ChurchId] [int] NULL,
	[CityId] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChurchInfo]  WITH CHECK ADD  CONSTRAINT [FK_ChurchInfo_Churches] FOREIGN KEY([ChurchId])
REFERENCES [dbo].[Churches] ([ChuchId])
GO
ALTER TABLE [dbo].[ChurchInfo] CHECK CONSTRAINT [FK_ChurchInfo_Churches]
GO
ALTER TABLE [dbo].[ChurchInfo]  WITH CHECK ADD  CONSTRAINT [FK_ChurchInfo_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([CityId])
GO
ALTER TABLE [dbo].[ChurchInfo] CHECK CONSTRAINT [FK_ChurchInfo_City]
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [FK_Person_Churches] FOREIGN KEY([ChurchId])
REFERENCES [dbo].[Churches] ([ChuchId])
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [FK_Person_Churches]
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [FK_Person_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([CityId])
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [FK_Person_City]
GO
USE [master]
GO
