

<h1>Hem</h1>

<a href="/Product/testy">Testy</a>
<a href="/Product/yrittää">Yrittää</a>
<a href="/Product/listall">List all</a>
<a href="/Product/index">Index</a>

<br />
<a asp-controller="Product" asp-action="testy">Testy med TagHelper</a>
<a asp-controller="Product" asp-action="yrittää">Yrittää med TagHelper</a>
<a asp-controller="Product" asp-action="listall">List all med TagHelper</a>
<a asp-controller="Product" asp-action="index">Index med TagHelper</a>


